.card {
  padding: 5px 15px 15px;
  background-color: white;
  font-size: 14px;
  box-shadow: 2px 3px 3px 3px rgb( 0 0 0 / 20%);
  border-radius: 0 0 7px 7px;
}

.account-number {
  font-size: 25px;
}

.amount {
  font-size: 1.25em;
  margin: 0;
}

.name {
  color: grey;
}