.receipt {
  border: 1px solid black;
  width: 80%;
  margin: 0 auto;
  padding: 10px 20px;

  transition: "all .2s",
}

.title {
  margin: 0 0 10px;
  text-align: center;
}

.recipient {
  font-size: 1.2em;
  margin: 10px 0;
  text-align: center;
  color: #707070;
}

.items {
  margin: 0 0 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.items > div{
  display: flex;
  justify-content: space-between;
  margin: 5px 0 0;
}

.summarizing {
  display: flex;
  justify-content: space-between;  
}