.transactions-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  padding: 24px
}

.transactions-details__title {
  font-size: 1.25em;
  color: #626262;
}

.toggle-receipt {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  margin-bottom: 20px;
  
}
